# install latest changes in dbt-core + dbt-tests-adapter
# git+https://github.com/dbt-labs/dbt-core.git#egg=dbt-core&subdirectory=core
# git+https://github.com/dbt-labs/dbt-adapters.git#subdirectory=dbt-tests-adapter

dbt-tests-adapter==1.9.2

boto3
mypy-boto3-glue
pandas
pyarrow
buenavista
bumpversion
flaky
freezegun==1.5.1
fsspec
gspread
ipdb
mypy==1.11.1
openpyxl
pip-tools
pre-commit
psycopg2-binary
pyiceberg
pytest
pytest-dotenv
pytest-logbook
pytest-csv
pytest-xdist
pytest-mock
pytz
ruff
sqlalchemy
tox>=3.13
twine
wheel
deltalake
unitycatalog
